.table-container {
    max-width: 1200px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}

.theme-selector > h3 {
    font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}
