/* You can add global styles to this file, and also import other style files */

.p-paginator {
    justify-content: right !important;
    margin-top: 10px;
    padding-right: 0;
    border: none;
}

.p-paginator .p-paginator-rpp-options {
    margin-right: 0;
}